html {
  background-color: hsl(0, 0%, 96%);
}

.brand-bg {
  background-color: #b0ffd0;
}

.is-size-0-8 {
  font-size: 3.25rem;
}

.has-text-secondary {
  color: #34cc95;
}

.is-clickable {
  cursor: pointer;
}
