html {
  background-color: hsl(0, 0%, 96%);
}

.brand-bg {
  background-color: #b0ffd0;
}

.is-size-0-8 {
  font-size: 3.25rem;
}

.has-text-secondary {
  color: #34cc95;
}

.is-clickable {
  cursor: pointer;
}

.brand-bottom-border {
  border-bottom: 1px solid #bbf7d0;
}

.menu-container {
  width: 100%;
  max-width: 390px;
  min-height: 667px;
  margin: 3rem auto 0 auto;
}

.editor-wrapper {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .menu-container {
    height: 100vh;
    border-radius: 0;
    margin: auto;
  }

  .card.menu-container > .card-image:first-child img {
    border-radius: 0 !important;
  }

  .editor-wrapper {
    width: 100vw;
  }
}
