// Import font Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Import Bulma's core
@import '~bulma/sass/utilities/_all';

$control-radius: 0.5rem;
$input-radius: 0.5rem;
$label-weight: $weight-medium;

$input-background-color: $light;

$modal-background-background-color: bulmaRgba($scheme-invert, 0.5);

$card-radius: 0.5rem;
$skeleton-border-radius: 0.5rem;

$navbar-height: 4rem;

$body-font-size: 0.875em;
$small-font-size: 0.75em;
$pre-font-size: 0.75em;
$pre-code-font-size: 0.875em;

$body-family: 'Inter', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;

$primary: #00e492;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);

$link: #34cc95;
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Import bulma styles
@import '~bulma';

// Import buefy styles
@import '~buefy/src/scss/buefy';
